#
#  Copyright (C) 2004-2006 Intel Corporation
#  
#  This program is free software; you can redistribute it and/or
#  modify it under the terms of the GNU General Public License
#  as published by the Free Software Foundation; either version 2
#  of the License, or (at your option) any later version.
#  
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#  
#  You should have received a copy of the GNU General Public License
#  along with this program; if not, write to the Free Software
#  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
#  
#

##
## Profile a benchmark for SimPoints
##
include asim_main.rc

!lang perl

use benchmark;

#
# Either boot OS or restore from a checkpoint
#
benchmark::boot() if ($config{'boot'})
asim::restore($config{'base_save_name'}) if (! $config{'boot'})

quit if (simpoints::sample() == 0);

##
## Wait for the program to complete on the first pass so the output
## files are copied to the host.  We're probably almost at the end
## anyway.
##
print "Running to completion to get output files...\n";
asim::wait_for_exit();

quit
