restore XXBASESAVENAMEXX
;
; nsecPerInst has to be picked carefully.  Too high and you get too many
; timer interrupts.  Too low and the scheduler doesn't run often enough.
; The scheduler has to run more often than on real hardware because we
; can't affort to be idle for long while sampling.  The value here
; minimized the cycles to complete fft from Splash2.
;
obj vpc_kernel.notifier.vpc.time.nsecPerInst=5.0
c
exit
;
;  Copyright (C) 2003-2006 Intel Corporation
;  
;  This program is free software; you can redistribute it and/or
;  modify it under the terms of the GNU General Public License
;  as published by the Free Software Foundation; either version 2
;  of the License, or (at your option) any later version.
;  
;  This program is distributed in the hope that it will be useful,
;  but WITHOUT ANY WARRANTY; without even the implied warranty of
;  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
;  GNU General Public License for more details.
;  
;  You should have received a copy of the GNU General Public License
;  along with this program; if not, write to the Free Software
;  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
;  
;
